html, body {
	margin: 0.3em;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 15px;
}

/*HEADER GRID, LAYOUT & FORMATTING*/

.hdr_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
	grid-auto-rows: 2em 2em 2em;
	grid-gap: 0px;
	border-bottom: rgb(206, 204, 204) 1px solid;
}

.icons, .icons a {
	grid-column-start: 1;
	padding: .25em 0;
	word-spacing: 20px;
}

.lang, .lang a {
	grid-column-start: 3;
	text-align: center;
	padding: .5em 0;
	word-spacing: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	color: black;
}

.hdrbuttons {
	grid-column-start: 4;
	grid-column-end: -1;
	text-align: right;
	padding: .25em 0;
}

.nyt {
	grid-row-start: 2;
	grid-column-start: 3;  
}

.date, .date a {
	grid-column-start: 1;
	grid-row-start: 3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
}

.today, .today a {
	grid-row-start: 3;
	grid-column-start: 5;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .9em;
	text-decoration: none;
	color: black;
}

/*HEADER IMAGE FORMATTING*/

#menu-icon, #search-icon {
	height: 1em;
} 

#chinese-icon1 {
	height: 1em;
} 

#hdrb1, #hdrb2 {
	min-height: 2em;
	font-size: 0.75em;
	background-color: rgb(88, 135, 173);
	color: white;
	font-family: arial;
	font-weight: bold;
	padding: 0.5em 1em 0.5em 1em;
}

#nytimg {
	height: 4em;
	margin: 0 auto;
}

/*NAV BAR*/

nav, nav a {
	text-align: center;
	font-size: 0.92em;
	text-decoration: none;
	font-family: 'Arial Narrow';
	padding: 1em 1.7em 1em 0em;
	color: black;
}

/*CTA HEADER*/

.cta_grid {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(3, 1.5em);
	grid-gap: 0px;
	padding: 1em;
	border-top: black 1px solid;
	border-bottom: black double;
}

.top-cta {
	height: 3.5em;
}

.am {
	grid-column-start: 1;  
	grid-row-start: 1;
	grid-row-end: -1;
	display: flex;
    justify-content: center;
    align-items: center;
}

.am-text {
	grid-column-start: 2;  
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: -1;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.weekly {
	grid-column-start: 5;  
	grid-row-start: 1;
	grid-row-end: -1;
	border-left:  rgb(206, 204, 204) 1px solid;
	display: flex;
    justify-content: center;
    align-items: center;
}

.weekly-text {
	grid-column-start: 6;  
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign {
	grid-column-start: 9;  
	grid-row-start: 1;
	grid-row-end: -1;
	border-left:  rgb(206, 204, 204) 1px solid;
	display: flex;
    justify-content: center;
    align-items: center;
}

.sign-text {
	grid-column-start: 10;  
	grid-column-end: 13;
	grid-row-start: 2;
	grid-row-end: 3;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.stock1-1 {
	grid-column-start: 13; 
	grid-row-start: 1;
	border-bottom: rgb(206, 204, 204) 1px solid;
	display: flex;
    flex-direction: column-reverse;
}

.stock1-2 {
	grid-column-start: 14; 
	grid-row-start: 1;
	border-bottom: rgb(206, 204, 204) 1px solid;
	display: flex;
    flex-direction: column-reverse;
}

.stock2-1 {
	grid-column-start: 13; 
	grid-row-start: 2;
	border-bottom: rgb(206, 204, 204) 1px solid;
	display: flex;
    flex-direction: column-reverse;
}

.stock2-2 {
	grid-column-start: 14; 
	grid-row-start: 2;
	border-bottom: rgb(206, 204, 204) 1px solid;
	display: flex;
    flex-direction: column-reverse;
}

.stock3-1 {
	grid-column-start: 13; 
	grid-row-start: 3;
	display: flex;
    flex-direction: column-reverse;
}

.stock3-2 {
	grid-column-start: 14; 
	grid-row-start: 3;
	display: flex;
    flex-direction: column-reverse;
}

.weather {
	grid-column-start: 15; 
	grid-column-end: -1;
	grid-row-start: 1;
	height: 1.5em;
}

.weather-text {
	grid-column-start: 15; 
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
}

h4 {
	margin: 0;
	font-family: 'Arial Narrow';
	font-weight: bold;
}

.cta_grid p {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

.stock1-2, .stock2-2, .stock3-2 {
	color: green;
}